:root{
    --headerHeight: 120px;
    --logoHeight: 100px;

    --primaryColor: white;
    --secondaryColor: #e2457c;
    --backgroundColorGradientStart: #ffe6f0;
    --backgroundColorGradientEnd: #fff;

    /*Animazioni*/
    --headerButtonsLateralPadding: 1vw;
    --btnAnimDelay: 300ms;
}

body{
    /*Posiziono l'header in cima*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*dimensioni*/
    margin: 0;
    min-height: 100vh;

    /*Colore sfondo*/
    background: linear-gradient(135deg, var(--backgroundColorGradientStart) , var(--backgroundColorGradientEnd));
}

/*== HEADER ==*/
#header{
    /*Allinea il contenuto verticalmente*/
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Posiziono l'header sempre in cima alla pagina anche quando scrollo verso il basso*/
    position: sticky;
    top: 0%;

    /*Dimensioni*/
    height: var(--headerHeight);

    /*Colore & bordo*/
    background-color: var(--primaryColor);
    border-bottom: var(--secondaryColor);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    /*Porto l'header davanti al contenuto*/
    z-index: 1;
}

/*Allinea immagine del logo al centro del contenitore*/
.logoContainer {
    display: flex;
    align-items: center;
}

#logoutBtn{
    position: absolute;
    right: 5%;
}
#title{
    margin-left: auto;
    margin-right: auto;
}

#header .logo{
    /*Posizione*/
    position: absolute;
    left: 5%;
}

#buttons{
    /*Allineo e distanzio i bottoni*/
    display: flex;
    justify-content: space-between;
    gap: 2vw;

    /*Posiziono i bottoni*/
    position: absolute;
    right: 3vw;
}

#buttons > a > button{
    /*Colori & Stile*/
    border-style: none;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border-radius: 15px;

    /*Testo*/
    font-size: 18px;
    white-space: nowrap;
    font-weight: bolder;

    /*Dimensioni*/
    padding-left: var(--headerButtonsLateralPadding);
    padding-right: var(--headerButtonsLateralPadding);
    height: calc(var(--headerHeight) / 2.2);
    
    cursor: pointer; /*Quando ci passo sopra il cursore cambia stile*/
}

/*Quando ci passo sopra col mouse il bottone cambia colore*/
#buttons > a > button:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.logo{
    /*Dimensioni*/
    max-height: var(--logoHeight);
}
/*== FINE HEADER ==*/