.titolo{
    color: #e64b84;
    font-size: 2.5em;
    text-decoration: underline;
}

.ruolo{
    font-weight: bold;
    color: rgb(78, 78, 78);
}

.sottoTitolo{
    color: #e64b84;
    font-size: 2em;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }