:root{
    --headerHeight: 120px;
    --footerLongHeight: calc(var(--headerHeight) * 4);
    --footerShortHeight: var(--headerHeight);
    --primaryColor: white;
    --secondaryColor: #e2457c;
    --headerButtonsLateralPadding: 1vw;
    --btnAnimDelay: 300ms;
    --logoHeight: 100px;
    --hamburgerIconHeight: 40px;
    --dropdownButtonWidth: 200px;
    --hamburgerRightSpace: 50px;
}

body{
    /*Posiziono l'header in cima e il footer in fondo*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*dimensioni*/
    margin: 0;
    min-height: 100vh;
}

#header{
    /*Allinea il contenuto verticalmente*/
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Posiziono l'header sempre in cima alla pagina anche quando scrollo verso il basso*/
    position: sticky;
    top: 0%;

    /*Dimensioni*/
    height: var(--headerHeight);

    /*Colore & bordo*/
    background-color: var(--primaryColor);
    border-bottom: var(--secondaryColor);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    /*Porto l'header davanti al contenuto*/
    z-index: 1;
}

/*Allinea immagine del logo al centro del contenitore*/
.logoContainer {
    display: flex;
    align-items: center;
}

#header .logo{
    /*Posizione*/
    position: absolute;
    left: 5%;
}

#footer{
    /*Non rimuovere. Serve a dimensionare correttamente l'immagine del logo*/
    position: relative;

    /*Dimensioni*/
    height: var(--footerShortHeight);

    /*Colore & bordo*/
    background-color: var(--primaryColor);
    border-top: var(--secondaryColor);
    border-top-width: 1px;
    border-top-style: solid;
}

#footerContent{
    /*Allineo il contenuto al centro*/
    display: flex;
    align-items: center;

    /*Dimensioni*/
    width: 100%;
    height: 100%;
}

#footer .logo{
    /*Posizione*/
    position: absolute;
    right: 5%;
}

#buttons{
    /*Allineo e distanzio i bottoni*/
    display: flex;
    justify-content: space-between;
    gap: 2vw;

    /*Posiziono i bottoni*/
    position: absolute;
    right: 3vw;
}

#buttons > a > button{
    /*Colori & Stile*/
    border-style: none;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border-radius: 15px;

    /*Testo*/
    font-size: 18px;
    white-space: nowrap;
    font-weight: bolder;

    /*Dimensioni*/
    padding-left: var(--headerButtonsLateralPadding);
    padding-right: var(--headerButtonsLateralPadding);
    height: calc(var(--headerHeight) / 2.2);
    
    cursor: pointer; /*Quando ci passo sopra il cursore cambia stile*/
}

/*Quando ci passo sopra col mouse il bottone cambia colore*/
#buttons > a > button:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

#content{
    /*Centro contenuti*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sede{
    /*Posizione*/
    position: absolute;
    left: 5%;
}

#sitiEsterni{
    /*Allineo contenuto*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /*Posizione*/
    position: absolute;
    left: 30vw;

    width: 40vw;
}

/*Link di colore nero*/
#sitiEsterni a{
    color: black;
}

/*== MENU HAMBURGER ==*/
#menuHamburger{
    /*Allineo le righe*/
    display: none;
    flex-direction: column;
    justify-content: space-between;

    /*Posizione*/
    position: relative;
    transform: translateX(100vw);
    right: 100px;

    /*Dimensioni*/
    height: var(--hamburgerIconHeight);
    width: 50px;

    cursor: pointer;
}

/*Linee del menu hamburgher*/
#menuHamburger > .linea{
    display: block;
    height: 18%;
    background-color: var(--secondaryColor);
}

/*Mostra il menù*/
#menuHamburger:hover > .dropdownMenu{
    display: block;
}

#menuHamburger .dropdownContent{
    /*Allinea il contenuto in colonna*/
    display: flex;
    flex-direction: column;

    /*Posiziona il contenuto del menù in maniera che sia sotto all'icona*/
    position: relative;
    transform: translateY(calc(var(--hamburgerIconHeight) + 20px));
    right: calc(var(--dropdownButtonWidth) - var(--hamburgerRightSpace));
}

#menuHamburger > .dropdownMenu button{
    width: var(--dropdownButtonWidth);

    border-style: solid;
    border-width: 1px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}

/*Nascondo il menù*/
.dropdownMenu{
    display: none;
}

/*== FINE MENU HAMBURGER ==*/

.logo{
    /*Dimensioni*/
    max-height: var(--logoHeight);
}

h4{
    color: var(--secondaryColor);
}

/*Stile footer quando lo schermo è stretto*/
@media screen and (max-width: 840px){
    #sitiEsterni{
        flex-direction: column;

        position: static;
    }

    #footer{
        height: var(--footerLongHeight);
    }

    #footerContent{
        justify-content: space-evenly;
        flex-direction: column-reverse;

        position: relative;

        width: 50%;
    }

    #sede{
        position: static;
    }

    #footer .logo{
        position: static;
    }

}

/*Stile header quando lo schermo è stretto*/
@media screen and (max-width: 900px){
    #menuHamburger{
        /*Mostro il menù*/
        display: flex;
    }

    #buttons{
        display: none;
    }
}
