:root{
    --headerHeight: 120px;
    --footerHeight: var(--headerHeight);
    --colorePrimario: white;
    --coloreSecondario: #e2457c;
    --headerButtonsLateralPadding: 1vw;
    --btnAnimDelay: 300ms;
}

html{
    scroll-behavior: smooth; /*movimenti all'interno della pagina animati*/
}

body{
    /*Posiziona il footer in fondo, l'header in cima e il corpo nel mezzo*/
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    /*dimensioni*/
    margin: 0;
    min-height: 100vh;
}

#header{
    /*Allinea il contenuto verticalmente*/
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Posiziono l'header sempre in cima alla pagina anche quando scrollo verso il basso*/
    position: sticky;
    top: 0%;

    /*Dimensioni*/
    height: var(--headerHeight);

    /*Colore & bordo*/
    background-color: var(--colorePrimario);
    border-bottom: var(--coloreSecondario);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#header .logo{
    /*Posizione*/
    position: absolute;
    left: 10%;
}

#footer{
    /*Allineo il contenuto al centro*/
    display: flex;
    align-items: center;
    
    position: relative;

    /*Dimensioni*/
    height: var(--footerHeight);

    /*Colore & bordo*/
    background-color: var(--colorePrimario);
    border-top: var(--coloreSecondario);
    border-top-width: 1px;
    border-top-style: solid;
}

#footer .logo{
    /*Posizione*/
    position: absolute;
    right: 5%;
}

#buttons{
    /*Allineo e distanzio i bottoni*/
    display: flex;
    justify-content: space-between;
    gap: 2vw;

    /*Posiziono i bottoni*/
    position: absolute;
    right: 3vw;
}

#buttons > a > button{
    /*Colori & Stile*/
    border-style: none;
    color: var(--coloreSecondario);
    background-color: var(--colorePrimario);
    border-radius: 15px;

    /*Testo*/
    font-size: 18px;
    white-space: nowrap;
    font-weight: bolder;

    /*Dimensioni*/
    padding-left: var(--headerButtonsLateralPadding);
    padding-right: var(--headerButtonsLateralPadding);
    height: calc(var(--headerHeight) / 2.2);
    
    cursor: pointer; /*Quando ci passo sopra il cursore cambia stile*/
}

/*Quando ci passo sopra col mouse il bottone cambia colore*/
#buttons > a > button:hover{
    background-color: var(--coloreSecondario);
    color: var(--colorePrimario);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

#content{
    /*Centro contenuti*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Porto il contenuto dietro all'header*/
    z-index: -1;
}

#sede{
    /*Posizione*/
    position: relative;
    left: 5%;
}

#sitiEsterni{
    /*Allineo contenuto*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /*Posizione*/
    position: relative;
    left: 35vw;

    width: 30vw;
}

/*Link di colore nero*/
#sitiEsterni a{
    color: black;
}

.logo{
    /*Dimensioni relative al padre*/
    height: 90%;
}

h4{
    color: var(--coloreSecondario)
}