:root{
    --headerHeight: 120px;
    --logoHeight: 100px;
    --hamburgerIconHeight: 40px;
    --dropdownButtonWidth: 200px;
    --hamburgerRightSpace: 50px;
    --lateralSelectionWidth:40vw;

    --footerLongHeight: calc(var(--headerHeight) * 4);
    --footerShortHeight: var(--headerHeight);
    --primaryColor: white;
    --secondaryColor: #e2457c;
    --backgroundColorGradientStart: #ffe6f0;
    --backgroundColorGradientEnd: #fff;
    --exitButtonHoverColor: #e6aabf;

    /*Animazioni*/
    --headerButtonsLateralPadding: 1vw;
    --btnAnimDelay: 300ms;
    --obscurerStartingOpacity: 0;
    --obscurerFinalOpacity: 0.7;
    --obscurerCurrentOpacity: var(--obscurerStartingOpacity);
    --lateralSelectionStartingPosition: -40vw;
    --lateralSelectionFinalPosition: 0;
    --lateralSelectionCurrentPosition: var(--lateralSelectionStartingPosition);
}

body{
    /*Posiziono l'header in cima e il footer in fondo*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*dimensioni*/
    margin: 0;
    min-height: 100vh;

    /*Colore sfondo*/
    background: linear-gradient(135deg, var(--backgroundColorGradientStart) , var(--backgroundColorGradientEnd));
}

/*== HEADER&FOOTER ==*/
#header{
    /*Allinea il contenuto verticalmente*/
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Posiziono l'header sempre in cima alla pagina anche quando scrollo verso il basso*/
    position: sticky;
    top: 0%;

    /*Dimensioni*/
    height: var(--headerHeight);

    /*Colore & bordo*/
    background-color: var(--primaryColor);
    border-bottom: var(--secondaryColor);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    /*Porto l'header davanti al contenuto*/
    z-index: 1;
}

/*Allinea immagine del logo al centro del contenitore*/
.logoContainer {
    display: flex;
    align-items: center;
}

#header .logo{
    /*Posizione*/
    position: absolute;
    left: 5%;
}

#footer{
    /*Non rimuovere. Serve a dimensionare correttamente l'immagine del logo*/
    position: relative;

    /*Dimensioni*/
    height: var(--footerShortHeight);

    /*Colore & bordo*/
    background-color: var(--primaryColor);
    border-top: var(--secondaryColor);
    border-top-width: 1px;
    border-top-style: solid;
}

#footerContent{
    /*Allineo il contenuto al centro*/
    display: flex;
    align-items: center;

    /*Dimensioni*/
    width: 100%;
    height: 100%;
}

#footer .logo{
    /*Posizione*/
    position: absolute;
    right: 5%;
}

#buttons{
    /*Allineo e distanzio i bottoni*/
    display: flex;
    justify-content: space-between;
    gap: 2vw;

    /*Posiziono i bottoni*/
    position: absolute;
    right: 10vw;
}

#buttons button{
    /*Colori & Stile*/
    border-style: none;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border-radius: 15px;

    /*Testo*/
    font-size: 18px;
    white-space: nowrap;
    font-weight: bolder;

    /*Dimensioni*/
    padding-left: var(--headerButtonsLateralPadding);
    padding-right: var(--headerButtonsLateralPadding);
    height: calc(var(--headerHeight) / 2.2);
    
    cursor: pointer; /*Quando ci passo sopra il cursore cambia stile*/
}

/*Quando ci passo sopra col mouse il bottone cambia colore*/
#buttons button:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}
/*== FINE HEADER&FOOTER ==*/

#content{
    /*Centro contenuti*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content p{
    line-height: 1.5;
    letter-spacing: 1px;
}

#registeredOffice{
    /*Posizione*/
    position: absolute;
    left: 5%;
}

#externalWebsites{
    /*Allineo contenuto*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /*Posizione*/
    position: absolute;
    left: 30vw;

    width: 40vw;
}

/*Link di colore nero*/
#externalWebsites a{
    color: black;
}

/*== MENU HAMBURGER ==*/
#menuHamburger{
    /*Nascondo il menù e allineo le righe*/
    display: none;
    flex-direction: column;
    justify-content: space-between;

    /*Posizione*/
    position: relative;
    transform: translateX(100vw);
    right: 100px;

    /*Dimensioni*/
    height: var(--hamburgerIconHeight);
    width: 50px;

    cursor: pointer;
}

/*Linee del menu hamburgher*/
#menuHamburger > .line{
    display: block;
    height: 18%;
    background-color: var(--secondaryColor);
}

#lateralSelection{
    display: none;

    /*Dimensioni*/
    width: var(--lateralSelectionWidth);
    height: 100vh;

    /*Colore*/
    background-color: var(--primaryColor);
    
    z-index: 3; /*Porto davanti a tutto*/

    /*Posizione iniziale*/
    position: fixed;
    right: var(--lateralSelectionCurrentPosition);

    /*Bordo*/
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--secondaryColor);
}

#lateralBtns {
    width: 100%;

    /*Allineo contenuto*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lateralBtns a{
    width: 100%;
}

#lateralBtns button{
    /*Dimensioni*/
    width: 100%;
    height: 70px;

    /*Stile testo*/
    color: var(--secondaryColor);
    font-size: 20px;
    font-weight: bolder;
    text-align: end;
    padding-right: 10%;

    /*Nascondo lo sfondo e il bordo preesistente e personalizzo quello superiore*/
    background: none;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: var(--secondaryColor);
    border-bottom-width: 2px;

    cursor: pointer;
}

#lateralBtns button:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

/*Scurisce la pagina quando compare la schermata di selezione laterale*/
#obscurer{
    /*Nascondo*/
    display: none;

    position: fixed;

    z-index: 2; /*Porto davanti al resto della pagina, ma dietro alla selezione laterale*/

    /*Dimensioni*/
    width: 100vw;
    height: 100vh;
    
    /*Coloro di nero per scurire la pagina quando sarà mostrato con javascript*/
    background-color: black;
    opacity: var(--obscurerCurrentOpacity);
}

#exitBtn{
    /*Posizione*/
    position: relative;
    top: 10px;
    right: 35px;

    /*Rimuovo sfondo e bordo*/
    background: none;
    border-style: none;

    /*Dimensioni e colore*/
    color: var(--secondaryColor);
    font-weight: 900;
    font-size: 20px;
}

#exitBtn:hover{
    cursor: pointer;
    color: var(--exitButtonHoverColor);
}

.logo{
    /*Dimensioni*/
    max-height: var(--logoHeight);
}

h4{
    color: var(--secondaryColor);
}

/*Stile footer quando lo schermo è stretto*/
@media screen and (max-width: 1040px){
    #externalWebsites{
        flex-direction: column;
        position: static;
        width: fit-content;
    }

    #footer{
        height: var(--footerLongHeight);
    }

    #footerContent{
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: start;

        position: relative;
        left: 5%;

        width: 50%;
    }

    #registeredOffice{
        position: static;
    }

    #footer .logo{
        position: static;
    }

}

/*Stile header quando lo schermo è stretto*/
@media screen and (max-width: 900px){
    #menuHamburger{
        /*Mostro il menù*/
        display: flex;
    }

    #buttons{
        display: none;
    }
}

/*Stile selezione laterale quando lo schermo è basso*/
@media screen and (max-height: 450px){
    #lateralBtns button{
        font-size: 15px;
        height: 40px;
    }
}


/* ================= Bottone traduzione =================*/

.dropdownContent{
    display: none;
    width: inherit;
}

.dropdownContent > button{
    cursor: pointer;
    font-size: 15px;
    height:70px;
    z-index: 2;
}

.dropdownImg{
    cursor: pointer;
    height: 100px;
}

.hoverDropdownBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    margin-top: 10px;
}

.dropdownBox{
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    position: absolute;
    right: 3vw;
}

.hoverDropdownBox:hover .dropdownContent{
    display: flex;
    flex-direction: column;
}