:root{
    --primaryColor: white;
    --secondaryColor: #e2457c;
    --btnAnimDelay: 300ms;
}

#imgBgHome{
    width: 100vw;
    height: auto;
}


.container {
    position: relative;
    text-align: center;
    color: black;
}

.container > #imgBgHome{
    filter: brightness(100%);
    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.container:hover > #imgBgHome{
    filter: brightness(80%);

    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.centeredText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredText > strong {
    color: black;
    font-size: 35px;
}

.btn{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-color: var(--secondaryColor);
    border-radius: 10px;

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.btn:hover{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

#btnHome{
    width: 18vw;
    height: 4vh;
    font-size: 22px;
    border: none;
}

.carouselDescription{
    display: flex;
    flex-direction: row;
}

.rotaractDescription{
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

/*CSS per il carosello*/

.sliderContainer
{
    width: 500px;
    height: 500px;
    background-color: var(--primaryColor);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.imageContainer
{
    width: 2000px;
    background-color: var(--primaryColor);
    height: 500px;
    clear: both;
    position: relative;

    left: -250px;
}

#sliderImage1:target ~ .imageContainer
{
    left: -250px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

#sliderImage2:target ~ .imageContainer
{
    left: -750px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
#sliderImage3:target ~ .imageContainer
{
    left: -1250px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.buttonContainer
{
	position: relative;
	top: -20px;
}

.sliderChange
{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: var(--secondaryColor);
}

.sliderImage{
    width: 500px;
    height: 500px;
}

@media screen and (max-width:840px) {
    .carouselDescription{
        flex-direction: column;
    }
    .rotaractDescription{
        width: 100vw;
        height: 300px;
    }
}