:root{
    --colorePrimario: white;
    --coloreSecondario: #e2457c;
    --btnAnimDelay: 300ms;
}

#img_bg_home{
    width: 100vw;
    height: auto;
}

.titolo{
    font-size: 35px;
}


.container {
    position: relative;
    text-align: center;
    color: black;
}

.container > #img_bg_home{
    filter: brightness(100%);
    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.container:hover > #img_bg_home{
    filter: brightness(80%);

    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text > strong {
    color: black;
    font-size: 35px;
}

.bottone{
    background-color: var(--coloreSecondario);
    color: var(--colorePrimario);
    border-color: var(--coloreSecondario);
    border-radius: 10px;

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.bottone:hover{
    background-color: var(--colorePrimario);
    color: var(--coloreSecondario);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

#bottone_home{
    width: 18vw;
    height: 4vh;
    font-size: 22px;
    border: none;
}

.descrizione_carosello{
    display: flex;
    flex-direction: row;
}

.rotaract_description{
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

#bottone_desc{
    width: 15vw;
    height: 4vh;
    font-size: 22px;
}

/*CSS per il carosello*/

.slider-container
{
    width: 500px;
    height: 500px;
    background-color: var(--colorePrimario);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container
{
    width: 2000px;
    background-color: var(--colorePrimario);
    height: 500px;
    clear: both;
    position: relative;

    left: -250px;
}

#slider-image-1:target ~ .image-container
{
    left: -250px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

#slider-image-2:target ~ .image-container
{
    left: -750px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
#slider-image-3:target ~ .image-container
{
    left: -1250px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.button-container
{
	position: relative;
	top: -20px;
}

.slider-change
{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: var(--coloreSecondario);
}

.slider-image{
    width: 500px;
    height: 500px;
}

@media screen and (max-width:1170px) {
    #bottone_home{
        font-size: 18px;
    }

    #bottone_desc{
        font-size: 18px;
    }
}

@media screen and (max-width:970px) {
    #bottone_home{
        font-size: 16px;
    }

    #bottone_desc{
        font-size: 16px;
    }
}

@media screen and (max-width:840px) {
    .descrizione_carosello{
        flex-direction: column;
    }
    .rotaract_description{
        width: 100vw;
        height: 300px;
    }

    #bottone_home{
        font-size: 13px;
    }

    #bottone_desc{
        font-size: 13px;
    }
}

@media screen and (max-width:470px) {
    #bottone_home{
        font-size: 8px;
        height: 2vh;
    }

    #bottone_desc{
        font-size: 10px;
    }
    .titolo{
        font-size: 15px;
    }
    
}

@media screen and (max-width:550px) {
    .slider-container
    {
        width: 300px;
        height: 300px;
    }

    .image-container
    {
        width: 1200px;
        height: 300px;

        left: -150px;
    }

    #slider-image-1:target ~ .image-container
    {
        left: -150px;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }

    #slider-image-2:target ~ .image-container
    {
        left: -450px;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }
    #slider-image-3:target ~ .image-container
    {
        left: -750px;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }

    .slider-image{
        width: 300px;
        height: 300px;
    }
    
}