:root{
    --colorePrimario: white;
    --coloreSecondario: #e2457c;
    --btnAnimDelay: 300ms;
}

#img_bg_home{
    width: 100vw;
    height: auto;
}


.container {
    position: relative;
    text-align: center;
    color: black;
}

.container > #img_bg_home{
    filter: brightness(100%);
    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.container:hover > #img_bg_home{
    filter: brightness(80%);

    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text > strong {
    color: black;
    font-size: 35px;
}

.btn_home{
    background-color: var(--coloreSecondario);
    color: var(--colorePrimario);
    border-radius: 10px;
    width: 18vw;
    height: 4vh;
    font-size: 22px;
    border-color: var(--coloreSecondario);
    border: none;

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.btn_home:hover{
    background-color: var(--colorePrimario);
    color: var(--coloreSecondario);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.descrizione_carosello{
    display: flex;
}

.rotaract_description{
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

/*CSS per il carosello*/
@keyframes foto1 {
    from{
        left: -250px;
    }
    to{
        left:-750px;
    }
}

@keyframes foto2 {
    from{
        left: -750px;
    }
    to{
        left: -1250px;
    }
}

@keyframes foto3 {
    from{
        left: -1250px;
    }
    to{
        left: 0px;
    }
}


@keyframes wait{
    
}

.slider-container
{
    width: 500px;
    height: 500px;
    background-color: var(--colorePrimario);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container
{
    width: 2000px;
    background-color: var(--colorePrimario);
    height: 500px;
    clear: both;
    position: relative;

    animation: foto1 2s infinite alternate, wait 2s alternate, foto2 2s alternate;
}

#slider-image-1:target ~ .image-container
{
    left: -250px;
}

#slider-image-2:target ~ .image-container
{
    left: -750px;
}
#slider-image-3:target ~ .image-container
{
    left: -1250px;
}

.button-container
{
	position: relative;
	top: -20px;
}

.slider-change
{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: var(--coloreSecondario);
}

.slider-image{
    width: 500px;
    height: 500px;
}