:root{
    --colorePrimario: white;
    --coloreSecondario: #e2457c;
    --btnAnimDelay: 300ms;
}

#img_bg_home{
    width: 100vw;
    height: auto;
}


.container {
    position: relative;
    text-align: center;
    color: black;
}

.container > #img_bg_home{
    filter: brightness(100%);
    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.container:hover > #img_bg_home{
    filter: brightness(80%);

    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text > strong {
    color: black;
    font-size: 35px;
}

.btn_home{
    background-color: var(--coloreSecondario);
    color: var(--colorePrimario);
    border-radius: 10px;
    width: 18vw;
    height: 4vh;
    font-size: 22px;
    border-color: var(--coloreSecondario);
    border: none;

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.btn_home:hover{
    background-color: var(--colorePrimario);
    color: var(--coloreSecondario);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.img_carosello{
    width: 500px;
    height: 500px;
}

.carosello{
    position: relative;
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carosello-track{
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.btn_carosello{
    background-color: var(--coloreSecondario);
    color: var(--colorePrimario);
    border-radius: 10px;
    border-color: var(--coloreSecondario);
    border: none;

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.btn_carosello:hover{
    background-color: var(--colorePrimario);
    color: var(--coloreSecondario);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

