:root{
    --primaryColor: white;
    --secondaryColor: #e2457c;
    --btnAnimDelay: 300ms;
}

#imgBgHome{
    width: 100vw;
    height: auto;
}

.title{
    font-size: 35px;
}


.container {
    position: relative;
    text-align: center;
    color: black;
}

.container > #imgBgHome{
    filter: brightness(100%);
    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.container:hover > #imgBgHome{
    filter: brightness(80%);

    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredText > strong {
    color: black;
    font-size: 35px;
}

.btn{
    background: linear-gradient(135deg, #e64b7d, #d13c6b);
    color: var(--primaryColor);
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

.btn:hover{
    background: linear-gradient(135deg, #d13c6b, #e64b7d);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(230,75,125,0.3);
}

#homeBtn{
    width: 18vw;
    height: 4vh;
    font-size: 22px;
    border: none;
}

.carouselDescription{
    display: flex;
    flex-direction: row;
}

.rotaractDescription{
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

#descBtn{
    width: 15vw;
    height: 4vh;
    font-size: 22px;
}

/*CSS per il carosello*/

.sliderContainer
{
    width: 500px;
    height: 500px;
    background-color: var(--primaryColor);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.imageContainer
{
    width: 2000px;
    background-color: var(--primaryColor);
    height: 500px;
    clear: both;
    position: relative;

    left: -250px;
}

#sliderImage1:target ~ .imageContainer
{
    left: -250px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

#sliderImage2:target ~ .imageContainer
{
    left: -750px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
#sliderImage3:target ~ .imageContainer
{
    left: -1250px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.btnContainer
{
	position: relative;
	top: -20px;
}

.sliderChange
{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: var(--secondaryColor);
}

.sliderImage{
    width: 500px;
    height: 500px;
}


@media screen and (max-width:1170px) {

    #homeBtn{
        font-size: 18px;
        padding: 0px;
    }

    #descBtn{
        font-size: 18px;
        padding: 0px;
    }
}

@media screen and (max-width:970px) {
    
    #homeBtn{
        font-size: 16px;
    }

    #descBtn{
        font-size: 16px;
    }
}

@media screen and (max-width:840px) {

    .carouselDescription{
        flex-direction: column;
    }
    .rotaractDescription{
        width: 100vw;
        height: 300px;
    }

    #homeBtn{
        font-size: 13px;
    }

    #descBtn{
        font-size: 13px;
    }
}

@media screen and (max-width:470px) {

    #homeBtn{
        font-size: 8px;
        height: 2vh;
    }

    #descBtn{
        font-size: 10px;
    }
    .title{
        font-size: 15px;
    }
    
}

@media screen and (max-width:550px) {
    .sliderContainer
    {
        width: 300px;
        height: 300px;
    }

    .imageContainer
    {
        width: 1200px;
        height: 300px;

        left: -150px;
    }

    #sliderImage1:target ~ .imageContainer
    {
        left: -150px;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }

    #sliderImage2:target ~ .imageContainer
    {
        left: -450px;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }
    #sliderImage3:target ~ .imageContainer
    {
        left: -750px;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }

    .sliderImage{
        width: 300px;
        height: 300px;
    }
    
}