* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root{
    --headerHeight: 120px;
    --logoHeight: 100px;
    --hamburgerIconHeight: 40px;
    --dropdownButtonWidth: 200px;
    --hamburgerRightSpace: 50px;
    --lateralSelectionWidth:40vw;

    --footerLongHeight: calc(var(--headerHeight) * 4);
    --footerShortHeight: var(--headerHeight);
    --primaryColor: white;
    --secondaryColor: #e2457c;
    --shadowColor: rgba(230,75,125,0.3);
    --sendBtnColorGradientStart: #e64b7d;
    --sendBtnColorGradientEnd: #d13c6b;
    --sendBtnHoverColorGradientStart: var(--sendBtnColorGradientEnd);
    --sendBtnHoverColorGradientEnd: var(--sendBtnColorGradientStart);
    --backgroundColorGradientStart: #ffe6f0;
    --backgroundColorGradientEnd: #fff;
    --exitButtonHoverColor: #e6aabf;

    /*Animazioni*/
    --headerButtonsLateralPadding: 1vw;
    --btnAnimDelay: 300ms;
    --obscurerStartingOpacity: 0;
    --obscurerFinalOpacity: 0.7;
    --obscurerCurrentOpacity: var(--obscurerStartingOpacity);
    --lateralSelectionStartingPosition: -40vw;
    --lateralSelectionFinalPosition: 0;
    --lateralSelectionCurrentPosition: var(--lateralSelectionStartingPosition);
}

body{
    font-family: 'Poppins', sans-serif;

    /*Posiziono l'header in cima e il footer in fondo*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*dimensioni*/
    margin: 0;
    min-height: 100vh;

    /*Colore sfondo*/
    background: linear-gradient(135deg, var(--backgroundColorGradientStart) , var(--backgroundColorGradientEnd));
}

/*== HEADER&FOOTER ==*/
#header{
    /*Allinea il contenuto verticalmente*/
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Posiziono l'header sempre in cima alla pagina anche quando scrollo verso il basso*/
    position: sticky;
    top: 0%;

    /*Dimensioni*/
    height: var(--headerHeight);

    /*Colore & bordo*/
    background-color: var(--primaryColor);
    border-bottom: var(--secondaryColor);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    /*Porto l'header davanti al contenuto*/
    z-index: 1;
}

/*Allinea immagine del logo al centro del contenitore*/
.logoContainer {
    display: flex;
    align-items: center;
}

#header .logo{
    /*Posizione*/
    position: absolute;
    left: 5%;
}

#footer{
    /*Non rimuovere. Serve a dimensionare correttamente l'immagine del logo*/
    position: relative;

    /*Dimensioni*/
    height: var(--footerShortHeight);

    /*Colore & bordo*/
    background-color: var(--primaryColor);
    border-top: var(--secondaryColor);
    border-top-width: 1px;
    border-top-style: solid;
}

#footerContent{
    /*Allineo il contenuto al centro*/
    display: flex;
    align-items: center;

    /*Dimensioni*/
    width: 100%;
    height: 100%;
}

#footer .logo{
    /*Posizione*/
    position: absolute;
    right: 5%;
}

#buttons{
    /*Allineo e distanzio i bottoni*/
    display: flex;
    justify-content: space-between;
    gap: 2vw;

    /*Posiziono i bottoni*/
    position: absolute;
    right: 3vw;
}

#buttons > a > button{
    /*Colori & Stile*/
    border-style: none;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border-radius: 15px;

    /*Testo*/
    font-size: 18px;
    white-space: nowrap;
    font-weight: bolder;

    /*Dimensioni*/
    padding-left: var(--headerButtonsLateralPadding);
    padding-right: var(--headerButtonsLateralPadding);
    height: calc(var(--headerHeight) / 2.2);
    
    cursor: pointer; /*Quando ci passo sopra il cursore cambia stile*/
}

/*Quando ci passo sopra col mouse il bottone cambia colore*/
#buttons > a > button:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}
/*== FINE HEADER&FOOTER ==*/

#content{
    /*Centro contenuti*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}

#registeredOffice{
    /*Posizione*/
    position: absolute;
    left: 5%;
}

#externalPages{
    /*Allineo contenuto*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /*Posizione*/
    position: absolute;
    left: 30vw;

    width: 40vw;
}

/*Link di colore nero*/
#externalPages a{
    color: black;
}

/*== MENU HAMBURGER ==*/
#hamburgerMenu{
    /*Nascondo il menù e allineo le righe*/
    display: none;
    flex-direction: column;
    justify-content: space-between;

    /*Posizione*/
    position: relative;
    transform: translateX(100vw);
    right: 100px;

    /*Dimensioni*/
    height: var(--hamburgerIconHeight);
    width: 50px;

    cursor: pointer;
}

/*Linee del menu hamburgher*/
#hamburgerMenu > .linea{
    display: block;
    height: 18%;
    background-color: var(--secondaryColor);
}

#lateralSelection{
    display: none;

    /*Dimensioni*/
    width: var(--lateralSelectionWidth);
    height: 100vh;

    /*Colore*/
    background-color: var(--primaryColor);
    
    z-index: 3; /*Porto davanti a tutto*/

    /*Posizione iniziale*/
    position: fixed;
    right: var(--lateralSelectionCurrentPosition);

    /*Bordo*/
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--secondaryColor);
}

#lateralBtns {
    width: 100%;

    /*Allineo contenuto*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lateralBtns a{
    width: 100%;
}

#lateralBtns button{
    /*Dimensioni*/
    width: 100%;
    height: 70px;

    /*Stile testo*/
    color: var(--secondaryColor);
    font-size: 20px;
    font-weight: bolder;
    text-align: end;
    padding-right: 10%;

    /*Nascondo lo sfondo e il bordo preesistente e personalizzo quello superiore*/
    background: none;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: var(--secondaryColor);
    border-bottom-width: 2px;

    cursor: pointer;
}

#lateralBtns button:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

/*Scurisce la pagina quando compare la schermata di selezione laterale*/
#obscurer{
    /*Nascondo*/
    display: none;

    position: fixed;

    z-index: 2; /*Porto davanti al resto della pagina, ma dietro alla selezione laterale*/

    /*Dimensioni*/
    width: 100vw;
    height: 100vh;
    
    /*Coloro di nero per scurire la pagina quando sarà mostrato con javascript*/
    background-color: black;
    opacity: var(--obscurerCurrentOpacity);
}

#exitBtn{
    /*Posizione*/
    position: relative;
    top: 10px;
    right: 35px;

    /*Rimuovo sfondo e bordo*/
    background: none;
    border-style: none;

    /*Dimensioni e colore*/
    color: var(--secondaryColor);
    font-weight: 900;
    font-size: 20px;
}

#exitBtn:hover{
    cursor: pointer;
    color: var(--exitButtonHoverColor);
}

/*Menù a tendina disabilitato in favore di un menù di selezione a comparsa

/*Mostra il menù
#hamburgerMenu:hover > .dropdownMenu{
    display: block;
}

#hamburgerMenu .dropdownContent{
    /*Allinea il contenuto in colonna
    display: flex;
    flex-direction: column;

    /*Posiziona il contenuto del menù in maniera che sia sotto all'icona
    position: relative;
    transform: translateY(calc(var(--hamburgerIconHeight) + 20px));
    right: calc(var(--dropdownButtonWidth) - var(--hamburgerRightSpace));
}

#hamburgerMenu > .dropdownMenu button{
    width: var(--dropdownButtonWidth);

    border-style: solid;
    border-width: 1px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}

/*Nascondo il menù
.dropdownMenu{
    display: none;
}*/

/*== FINE MENU HAMBURGER ==*/

/*== IMMAGINE CENTRALE HOME ==*/
#imgBgHome{
    width: 100vw;
    height: auto;
}


#mainImageContainer {
    position: relative;
    text-align: center;
    color: black;
}

#mainImageContainer > #imgBgHome{
    filter: brightness(100%);
    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

#mainImageContainer:hover > #imgBgHome{
    filter: brightness(80%);

    -webkit-transition: filter var(--btnAnimDelay) ease-in;
    -ms-transition: filter var(--btnAnimDelay) ease-in;
    transition: filter var(--btnAnimDelay) ease-in;
}

#mainText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainText > strong {
    color: black;
    font-size: 35px;
}

#btnHome{
    width: 18vw;
    height: 4vh;
    font-size: 22px;
    border: none;
}
/*== FINE IMMAGINE CENTRALE HOME==*/

#rotaractDescription{
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

/*== CAROSELLO HOME ==*/
.carouselDescription{
    display: flex;
    flex-direction: row;
}

.sliderContainer
{
    width: 500px;
    height: 500px;
    background-color: var(--primaryColor);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.imageContainer
{
    width: 2000px;
    background-color: var(--primaryColor);
    height: 500px;
    clear: both;
    position: relative;

    left: -250px;
}

#sliderImage1:target ~ .imageContainer
{
    left: -250px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

#sliderImage2:target ~ .imageContainer
{
    left: -750px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
#sliderImage3:target ~ .imageContainer
{
    left: -1250px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.carouselBtnContainer
{
	position: relative;
	top: -20px;
}

.sliderChange
{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: var(--secondaryColor);
}

.sliderImage{
    width: 500px;
    height: 500px;
}
/*== FINE CAROSELLO HOME ==*/

/*== FORM CONTATTI ==*/
#formTitle {
    color: var(--secondaryColor);
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

#contactForm {
    width: 100%;
    max-width: 700px;
    padding: 40px 30px;
    background-color: var(--primaryColor);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

#contactForm label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 500;
}

#contactForm input, textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    resize: none;
    transition: border 0.3s, box-shadow 0.3s;
    background-color: var(--primaryColor);
}

#contactForm input:focus, textarea:focus {
    border-color: var(var(--secondaryColor));
    box-shadow: 0 0 10px var(--shadowColor);
    outline: none;
}

#contactForm textarea {
    height: 150px;
}

/* Pulsante INVIA */
#contactForm button {
    background: linear-gradient(135deg, var(--sendBtnColorGradientStart), var(--sendBtnColorGradientEnd));
    color: var(--primaryColor);
    border: none;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

#contactForm button:hover {
    background: linear-gradient(135deg, var(--sendBtnHoverColorGradientStart), var(--sendBtnHoverColorGradientEnd));
    transform: translateY(-2px);
    box-shadow: 0 6px 12px var(--shadowColor);
}
/*== FINE FORM CONTATTI ==*/

/*== SOCIAL/CONTATTI ==*/
#contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--secondaryColor);
    text-decoration: none;
    transition: transform 0.3s, filter 0.3s;
}

.contactItem img, .contactItem svg {
    width: 28px;
    height: 28px;
    transition: transform 0.3s, filter 0.3s;
}

.contactItem:hover {
    text-decoration: underline;
}

.contactItem:hover img, .contactItem:hover svg {
    transform: scale(1.2);
    filter: brightness(1.2);
}
/*== FINE SOCIAL/CONTATTI ==*/

.messageBox {
    text-align: center;
    margin-bottom: 20px;
}

.messageSuccess {
    color: #28a745;
}

.messageError {
    color: red;
}

.title{
    color: var(--secondaryColor);
    font-size: 2.5em;
    text-decoration: underline;
}

.subtitle{
    color: var(--secondaryColor);
    font-size: 2em;
}

.logo{
    /*Dimensioni*/
    max-height: var(--logoHeight);
}

.leftRow{
    text-align: right;
}

.role{
    font-weight: bold;
    color: rgb(78, 78, 78);
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.linkBtn{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-color: var(--secondaryColor);
    border-radius: 10px;

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

.linkBtn:hover{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);

    -webkit-transition: background-color var(--btnAnimDelay) ease-in;
    -ms-transition: background-color var(--btnAnimDelay) ease-in;
    transition: background-color var(--btnAnimDelay) ease-in;
}

h4{
    color: var(--secondaryColor);
}

/*Stile footer quando lo schermo è stretto*/
@media screen and (max-width: 840px){
    #externalPages{
        flex-direction: column;

        position: static;
    }

    #footer{
        height: var(--footerLongHeight);
    }

    #footerContent{
        justify-content: space-evenly;
        flex-direction: column-reverse;

        position: relative;

        width: 50%;
    }

    #registeredOffice{
        position: static;
    }

    #footer .logo{
        position: static;
    }

}

/*Stile header/carosello quando lo schermo è stretto*/
@media screen and (max-width: 900px){
    #hamburgerMenu{
        /*Mostro il menù*/
        display: flex;
    }

    #buttons{
        display: none;
    }

    .carouselDescription{
        flex-direction: column;
    }
    .rotaractDescription{
        width: 100vw;
        height: 300px;
    }
}

/*Stile contatti quando lo schermo è stretto*/
@media screen and (max-width: 600px) {
    .contactForm {
      padding: 30px 20px;
    }
    #formTitle {
      font-size: 28px;
    }
    .contactInfo {
      gap: 20px;
    }
}

/*Stile selezione laterale quando lo schermo è basso*/
@media screen and (max-height: 450px){
    #lateralBtns button{
        font-size: 15px;
        height: 40px;
    }
}
