:root{
    --primaryColor: white;
    --secondaryColor: #e2457c;
}

#servicesList span{
    font-weight: 900;
    color: var(--secondaryColor);
}

#servicesList li::marker{
    color: var(--secondaryColor)
}

#textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 3%;
    padding-bottom: 3%;

    width: 60vw;
}

#textContainer > p {
    text-align: center;
}