.mainTitle{
    color: #e64b84;
    font-size: 2.5em;
}

.role{
    font-weight: bold;
    color: rgb(78, 78, 78);
}

.subtitle{
    
    color: #e64b84;
    font-size: 2em;
}

.contDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    position: relative;
    right: 6px;
    width:100vw;
}

.container{
    font-size: 22px;
    color: var(--secondaryColor);
}

.container2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.leftRow{
    text-align: right;
    width: 50%;
    
}


.presidentContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 150px;
    width: var(--collaborationWidth);

    border-color: var(--secondaryColor);
    border-width: 1.5px;
    border-radius: 5px;
    border-style: solid;

    background-color: var(--primaryColor);
    box-shadow: 2px 2px 20px -2px rgba(230,75,125,0.3);

    width: 100%;
}

.presidentContent h3{
    color: var(--secondaryColor);
    width: 90%;
    text-align: center;
}

.presidentContent p{
    text-align: center;
    font-weight: 500;
    width: 70%;
}

.presidentContent > .date{
    position: relative;

    bottom: 10px;
}

.reportButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    border-color: var(--secondaryColor);
    border-width: 1.5px;
    border-radius: 5px;
    border-style: solid;

    background-color: var(--primaryColor);
    box-shadow: 2px 2px 20px -2px rgba(230,75,125,0.3);
}